@import "tailwindcss";

@layer theme {
  :root {
    /* -------------------------------------------
       CONFIGURACIÓN DE COLORES (SHADCN + ALAVÉS)
       ------------------------------------------- */
    
    /* Fondo y Textos */
    --background: 210 40% 98%;    /* #F8FAFC */
    --foreground: 222.2 84% 4.9%; /* #0F172A */

    /* Tarjetas (Cards) */
    --card: 0 0% 100%;            /* Blanco */
    --card-foreground: 222.2 84% 4.9%;

    /* Popovers y Menús */
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --- COLOR PRINCIPAL: AZUL ALAVÉS (#0B2149) --- */
    /* HSL: 218deg, 73%, 16% */
    --primary: 218 73% 16%;
    --primary-foreground: 210 40% 98%;

    /* Secundarios */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* Muted (Textos grises) */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Accent (Hover en menús) */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* Destructive (Errores/Riesgo - Rojo) */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* Bordes e Inputs */
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 218 73% 16%; /* Anillo de foco azul */

    --radius: 0.75rem; /* 12px */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Estilos base para que todo ocupe el alto correcto */
@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));

    /*"Cuando el usuario llegue al tope de arriba o de abajo de la página, NO hagas ninguna acción del navegador (como refrescar o rebotar), simplemente detén el scroll". */ /*NO FUNCIONA*/
  overscroll-behavior-y: none;
  }
}